# deepseek model config
DEEPSEEK_API_KEY=<sk-crazythursdayvivo50kfc>
DEEPSEEK_BASE_URL="https://api.deepseek.com"
DEEPSEEK_MODEL_NAME="deepseek-v4-flash"

# xiaomi mimo model config
XIAOMI_MIMO_API_KEY=<sk-crazythursdayvivo50kfc>
XIAOMI_MIMO_BASE_URL="https://api.xiaomimimo.com/v1"
XIAOMI_MIMO_MODEL_NAME="mimo-v2.5"

# Z.ai model config
GLM_API_KEY=<sk-crazythursdayvivo50kfc>
GLM_BASE_URL="https://open.bigmodel.cn/api/paas/v4"
GLM_MODEL_NAME="glm-5.3-flash"

# tavily
TAVILY_API_KEY=<sk-crazythursdayvivo50kfc>

# workspace config
WORKSPACE_DIR=<your-workspace-dir>

# langsmith services
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<sk-crazythursdayvivo50kfc>
LANGSMITH_PROJECT="Mr Orchestra"

# postgres archive
DATABASE_URL="postgresql://orch:orch@localhost:5432/orch"
