langchain
langchain-openai
langchain-text-splitters
langgraph==1.2.10
langgraph-cli[inmem]
langgraph-api
langsmith
pydantic
pydantic-settings
python-dotenv
pytest
pytest-asyncio
asyncio
fastapi
uvicorn[standard]
sse-starlette
ddgs
tavily-python
crawl4ai
playwright
structlog
regex
asyncpg
